h1{
    font-family: "casey", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 9vw;
    margin-top: 10px;
}
h2{
    font-family: "tuppence", serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
    font-size:clamp(1rem,1.2vw, 1.5rem);
}
h3{
    font-family: "casey", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 4rem;
}
p{
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: clamp(1rem, 1.4vh,3rem);
    line-height: 1.2;
    margin-left: 1vw;
    margin-bottom: -0.5vw;
}
.lyrics{
    gap: 4vw;
    display: flex;
    flex-direction: row; 
    overflow-x: auto; 
    overflow-y: hidden; 
    width: 100vw;
    height: 100vh;
    position: relative;
}
.lyrics section {
    /* width: 23rem; */
    min-width: 40ch;
    position: absolute;
}
.lyrics div{
    position: absolute;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #4b5f6e; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 25px;
    line-height: 1.5;
    color: #718fa6;
    display: block;
    transition: 0.15s;
  }
  .currentsong {
    color: #D7db3f;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.topnav span, a{
    cursor: pointer;
}
.topnav span:hover{
    color: #D7db3f;
}
.topnav a:hover{
    color: #D7db3f;
}
.topnav i{
    padding-right: 6px;
}
.topnav{
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 500;
    font-size: 23px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
   padding: 8px;
}
  
li{
    list-style-type: none;
}
.play-pause img {
    padding: 5px 10px 0px 10px;
    height: 25px; 
    cursor: pointer;
}
.play-pause{
    z-index: 2; 
}
  div#timeline1 {
    width: 100%;
    background: rgba(255, 255, 255, 0.50);
    display:flex;
}

.progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    width: 0%;
    transition: width 0.1s linear;
    z-index: 1;
}

.playhead{
    position: absolute;
    z-index: 2;
}

div#seekObj1 img {
    width: 30px;
    height: 30px;
}
#seekObj1 {
    display: none;
}
.audio-player{
    position:fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.next-button{
    display: inline-flex;
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    background-color: #ffffff;
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 500;
    font-size: 23px;
    
}
.next-button:hover{
   background-color: #D7db3f;
   transform: scale(1.01);
}
.next-button a{
    text-decoration: none;
    color: #000000;
}


