h1{
    font-family: "casey", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 10rem;
    margin-top: 10px;
}
h2{
    font-family: "tuppence", serif;
    font-weight: 700;
    font-style: normal;
    
}
h3{
    font-family: "casey", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 4rem;
}
p{
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 1rem;
    line-height: 1.2;
    margin-left: 1rem;
    margin-bottom: -0.5rem;
}
.lyrics{
    gap: 4rem;
    display: flex;
    flex-direction: row; 
    overflow-x: auto; 
    overflow-y: hidden; 
    width: 100vw;
    height: 100vh;
}
.lyrics section {
    /* width: 23rem; */
    min-width: 40ch;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0964aa; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 25px;
    line-height: 1.5;
    color: #509bd5;
    display: block;
    transition: 0.15s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.topnav span{
    cursor: pointer;
}
.topnav{
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 500;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    
}
  
li{
    list-style-type: none;
}
.play-pause img {
    padding: 5px 10px 0px 10px;
    height: 25px; 
    cursor: pointer;
}

  div#timeline1 {
    width: 100%;
    background: rgba(255, 255, 255, 0.50);
    display:flex;
}

div#seekObj1 img {
    width: 30px;
    height: 30px;
   
}
.audio-player{
    position:fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}


