
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}
html{
    background-color: #e3ecf3;
}
h1{
    font-family: "gil-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    /* margin-top: 10px; */
}
h2{
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 500;
    text-transform:uppercase;
    padding-top: 1vh;
    font-size:clamp(1rem,1vw, 1.5rem);
}
.title{
    height: 10vh;
}
h3{
    font-family: "gil-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    line-height: 1.3;
    margin:0;
    margin-top: 2vh;
    hanging-punctuation:first ;
}
p{
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: clamp(14px, 0.9vw, 18px);
    line-height: 1.2;
    margin-left: 1vw;
    margin-bottom: -0.5vw;
}
.lyrics{
    gap: 4vw;
    display: flex;
    flex-direction: row; 
    overflow-x: auto; 
    overflow-y: hidden; 
    width: 100vw;
    height: 100vh;
    position: relative;
   
}
@media (min-width: 2000px) {
    .lyrics {
     gap:8vw;
    }
    .next-button{
        font-size: 0.7vw;
    }
  }
.lyrics section {
    min-width: 40ch;
    max-width: 40ch;
    position: absolute;
}
@media screen and (max-width: 1000px) {
    .lyrics section{
        max-width: 35ch;
        min-width: 35ch;
    }
    .lyrics {
        gap:2vw;
       }
}
.lyrics div{
    position: absolute;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #628098; /* Black*/
    overflow-x: hidden; 
    overflow-y: auto;
    padding-top: 60px;
    
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  .credits{
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 99; 
    top: 0; 
   right: 0;
    background-color: #628098; 
    overflow-x: hidden; 
    padding-top: 30px; 
    transition: 0.5s;
  }
 .credits .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
  }
  .credits p{
    padding: 8px 8px 8px 32px;
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 20px;
    line-height: 1.5;
    color: #f1f1f1;
    display: block;
  }
  .credits a{
      text-decoration: none;
      color: #718fa6;
      transition: 0.15s;
  }
  .credits a:hover{
    color: #f1f1f1;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 400;
    text-transform:uppercase;
    font-size: 23px;
    line-height: 1.5;
    color: #93afc4;
    display: block;
    transition: 0.15s;
  }
  #current-page{
    color: #D7db3f;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.topnav span, a{
    cursor: pointer;
}
.topnav span:hover{
    color: #D7db3f;
}
.topnav a:hover{
    color: #D7db3f;
}
.topnav i{
    padding-right: 6px;
}
.topnav{
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 500;
    font-size: 23px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
   padding: 8px;
   background-color: #718fa683;;
}
  
li{
    list-style-type: none;
}
.play-pause img {
    padding: 5px 10px 0px 10px;
    height: 25px; 
    cursor: pointer;
}
.play-pause{
    z-index: 2; 
}
  div#timeline1 {
    width: 100%;
    background: rgba(255, 255, 255, 0.50);
    display:flex;
}

.progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    width: 0%;
    transition: width 0.1s linear;
    z-index: 1;
}

.playhead{
    position: absolute;
    z-index: 2;
}

div#seekObj1 img {
    width: 30px;
    height: 30px;
}
#seekObj1 {
    display: none;
}
.audio-player{
    position:fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.next-button{
    display: inline-flex;
    padding: 12px 17px 12px 17px;
    border-radius: 50px;
    background-color: #ffffff;
    font-family: "space-grotesk-variable", sans-serif;
    font-variation-settings: "wght" 500;
    font-size: 1vw;
    margin-top: 6vh;
}
.next-button:hover{
   background-color: #D7db3f;
   transform: scale(1.01);
}
.next-button a{
    text-decoration: none;
    color: #000000;
}


